.pageHeaderText {
	font-size:1.5em;
	color:#CCC;
	text-shadow:1px 2px #000;
}

.searchSpinner {
	margin:0 5px;
	padding:0;
	display:inline-block;
}

.searchButton {
	padding:0;
}

.wgItem {
	border-bottom:none;
}

.item-word {
	font-family: PreludeWGL-Light, "Prelude Light", Prelude, "Prelude Medium", "Segoe UI", Arial, Helvetica, sans-serif;
	font-size:1.1em;
}

.item-definition {
	color:#666;
	font-size:80%;
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.item-thumbs-up {
	color:#009900;
	font-size:80%;
	
}

.item-thumbs-down {
	color:#990000;
	font-size:80%;
}


.definitionContainer {
	color:#666;
	font-family: Prelude, "Prelude Medium", "Segoe UI", Arial, Helvetica, sans-serif;
	padding: 1em;
	font-size:.9em;
}

.definitionHeader {
	color:#444;
	font-size:2em;
	padding:0 0 .5em;
	font-family: PreludeWGL-Light, "Prelude Light", Prelude, "Prelude Medium", "Segoe UI", Arial, Helvetica, sans-serif;
}

h3 {
	margin:.2em 0;
/*	font-size:100%;*/
	font-weight:normal;
}


.definitionExample {
	padding-top:1em;
	font-family: Prelude;
	font-style: italic;
}

.definitionDefinition, .definitionExample, .definitionPermalink {
	padding-left: 1em;
	font-size:1em;
	color:#666;
	line-height:1.5em;
}

.definitionPermalink {
	background-color:#2D6C94;
}

.definitionDefinition span.definition, .definitionExample span.definition {
	border-bottom:1px dotted #999999;
	color:#333333;
}
