/* Enyo JavaScript framework -- Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-input {
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	width: 100%;
	cursor: pointer;
}

.enyo-input:focus {
	cursor: text;
}
