/* Enyo JavaScript framework -- Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-popupmenuitem {
}

/*
	FIXME: rounded items in a popup have a slightly smaller radius than in a group
	can we just change this?
*/
.enyo-popupmenuitem .enyo-item.rounded {
	-webkit-border-radius: 8px;
}

.enyo-popupmenuitem .enyo-item.rounded.enyo-first {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}

.enyo-popupmenuitem .enyo-item.rounded.enyo-middle {
	-webkit-border-radius: 0;
}

.enyo-popupmenuitem .enyo-item.rounded.enyo-last {
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
}

.enyo-popupmenuitem-caption {
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
	padding: 2px 0;
}

.enyo-popupmenuitem-icon {
	padding: 2px 8px;
}

.enyo-popupmenuitem-arrow.enyo-depressed,
.enyo-popupmenuitem-arrow.enyo-down {
	background: url(../images/system-menu-arrow.png) center -24px;
}

.enyo-popupmenuitem-arrow {
	height: 24px;
	width: 30px;
	background: url(../images/system-menu-arrow.png) center 0px;
}

.enyo-popupmenuitem.enyo-checked .enyo-popupmenucheckitem-caption {
	background: url(../images/checkmark.png) center right no-repeat;
}

.enyo-popupmenucheckitem-caption {
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
	padding: 2px 34px 2px 0;
}