/* Enyo JavaScript framework -- Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-progress-pill {
	height: 50px;
	border-width: 0 25px;
	-webkit-border-image: url(../images/palm-menu-button.png) 0 25 200 25;
	-webkit-box-sizing: border-box;
	color: white;
}

.enyo-progress-pill-inner {
	height: 50px;
	margin: 0 -25px;
	border-width: 0 25px;
	position: absolute;
	-webkit-border-image: url(../images/progress-pill-inner.png) 0 25 0 25 repeat repeat;
}

.enyo-progress-pill-client {
	margin: 0 -10px;
}