/* Enyo JavaScript framework -- Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-button, .enyo-custom-button {
	cursor: pointer;
	white-space: nowrap;
	color: black;
	text-align: center;
	vertical-align: middle;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.enyo-button img, .enyo-custom-button img {
	vertical-align: middle;
}
