/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-menu-input {
	height: 50px;
	line-height: 50px;
	border-width: 0 25px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	-webkit-border-image: url(../images/palm-menu-input.png) 0 25 50 25 stretch stretch;
}

.enyo-menu-input-inset {
	-webkit-border-image: url(../images/palm-menu-input.png) 50 25 0 25 stretch stretch;
}

.enyo-menu-input .enyo-fancy-input-inner {
	padding: 9px;
	margin: 0px -12px;
}

.enyo-menu-input .enyo-input {
	color: white;
	font-size: 16px;
	margin: 4px 0;
}

.enyo-menu-input .enyo-input-focused {
	color: white;
}