/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-toggle-button {
	cursor: pointer;
	min-width: 84px;
	height: 36px;
	line-height: 34px;
	border-width: 0px 15px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.enyo-toggle-thumb-off, .enyo-toggle-thumb-on {
	width: 36px;
	height: 36px;
	border-width: 0px 15px;
	position: absolute;
	top: 0px;
}

.enyo-toggle-label-off, .enyo-toggle-label-on {
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	font-weight: bold;
}

.enyo-toggle-label-off {
	padding-left: 24px;
	margin-right: -4px;
}

.enyo-toggle-label-on {
	padding-right: 24px;
	margin-left: -4px;
}

/* webkit */

.enyo-toggle-button {
	-webkit-user-select: none;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/toggle-box.png) 0 15 72 15 repeat repeat;
}

.enyo-toggle-thumb-off {
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/toggle-box.png) 36 15 36 15 repeat repeat;
	left: -15px;
}

.enyo-toggle-thumb-on {
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/toggle-box.png) 72 15 0 15 repeat repeat;
	right: -15px;
}
