/* Enyo JavaScript framework -- Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-sliding-shadow {
	position: absolute;
	z-index: 1; 
	height: 100%;
	width: 20px;
	left: -20px; 
	background: url(../images/shadow.png) repeat-y;
	pointer-events: none;
}

.enyo-sliding-nub {
	position: absolute;
	-webkit-box-sizing: border-box;
	cursor: pointer;
	z-index: 1; 
	left: -20px;
	width: 40px;
	top: 0;
	bottom: 0;
}


.enyo-sliding {
	/* no longer needed to ensure acceleration, using translate3d instead
		doesn't defeat z-index like preserve-3d seems to.
	*/
	/*-webkit-transform-style: preserve-3d;*/
}

/* An alternative shadow method that uses the unsupported box-shadow */
/* 
.enyo-sliding {
	-webkit-box-shadow: #444 0px 0px 12px;
}
*/

/* An alternative shadow method that uses no extra node */
/*
.enyo-sliding {
	background: transparent;
	background-image: url(../images/shadow.png);
	background-repeat: repeat-y;
	margin-right: -20px;
}

.enyo-sliding-client {
	margin-left: 20px;
	height: 100%;
}
*/

.enyo-sliding-tl-nub {
	z-index: 10;
	position: absolute;
	width: 5px;
	height: 5px;
	left: 0;
	top: 0;
	background: url(../images/tl-nub-5.png);
}

.enyo-sliding-bl-nub {
	z-index: 10;
	position: absolute;
	width: 5px;
	height: 5px;
	left: 0;
	bottom: 0;
	background: url(../images/bl-nub-5.png);
}

.enyo-sliding-bl-nub {

}

.enyo-sliding-animate {
	-webkit-transition: -webkit-transform 0.2s ease-in;
}