/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-button {
	color: #252525;
	text-transform: capitalize;
	font-family: Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	height: 33px;
	line-height: 33px;
	border-width: 0px 10px;
	padding: 0;
}

.enyo-button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.enyo-button img {
	padding: 0px 3px;
}

/* normal button */

.enyo-button {
	-webkit-border-image: url(../images/enyo-label-button.png) 1 10 40 10 repeat repeat;
}

.enyo-button.enyo-button-down {
	-webkit-border-image: url(../images/enyo-label-button.png) 40 10 1 10 repeat repeat;
}

.enyo-button.enyo-button-depressed {
	-webkit-border-image: url(../images/enyo-label-button.png) 40 10 1 10 repeat repeat;
}

.enyo-button.enyo-button-disabled {
	-webkit-border-image: url(../images/enyo-label-button.png) 40 10 1 10 repeat repeat;
}

/* light button (often cancel) */

.enyo-button-light {
	color: #332;
	-webkit-border-image: url(../images/enyo-label-button.png) 1 10 40 10 repeat repeat;
}

.enyo-button-light.enyo-button-down {
	-webkit-border-image: url(../images/enyo-label-button.png) 40 10 1 10 repeat repeat;
}

.enyo-button-light.enyo-button-disabled {
	color: #777;
	-webkit-border-image: url(../images/enyo-label-button.png) 40 10 1 10 repeat repeat;
}

/* affirmative (green) */

.enyo-button-affirmative {
	color: #fff;
	-webkit-border-image: url(../images/enyo-label-button.png) 1 10 40 10 repeat repeat;
}

.enyo-button-affirmative.enyo-button-down {
	-webkit-border-image: url(../images/enyo-label-button.png) 40 10 1 10 repeat repeat;
}

.enyo-button-affirmative.enyo-button-disabled {
	-webkit-border-image: url(../images/enyo-label-button.png) 40 10 1 10 repeat repeat;
}

/* negative (red) */

.enyo-button-negative {
	color: #fff;
	-webkit-border-image: url(../images/enyo-label-button.png) 1 10 40 10 repeat repeat;
}

.enyo-button-negative.enyo-button-down {
	-webkit-border-image: url(../images/enyo-label-button.png) 40 10 1 10 repeat repeat;
}

.enyo-button-negative.enyo-button-disabled {
	-webkit-border-image: url(../images/enyo-label-button.png) 40 10 1 10 repeat repeat;
}

/* dark */

.enyo-button-dark {
	-webkit-border-image: url(../images/enyo-label-button.png) 1 10 40 10 repeat repeat;
}

.enyo-button-dark.enyo-button-down {
	-webkit-border-image: url(../images/palm-button-dark.png) 40 10 1 10 repeat repeat;
}

.enyo-button-dark.enyo-button-disabled {
	-webkit-border-image: url(../images/palm-button-dark.png) 40 10 1 10 repeat repeat;
}