/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-nouveau.enyo-drawer {
	overflow: hidden;
	height: auto;
}

.enyo-nouveau > .enyo-hflexbox { /* for drawer label background on first hlexbox - this is done because backgrounds are new, per HI design */
	background: url(../images/enyo-label-divider.png) repeat;
}

.enyo-button-switched.enyo-collapsible-arrow {
	height: 25px;
	width: 56px;
	background: url(../images/divider-arrow-right-button.png) 12px -35px no-repeat;
}

.enyo-collapsible-arrow {
	height: 25px;
	width: 56px;
	background: url(../images/divider-arrow-down-button.png) 12px -36px no-repeat;
}

.enyo-button-down.enyo-switched.enyo-collapsible-arrow {
	background-position: 12px -35px;
}

.enyo-button-down.enyo-collapsible-arrow {
	background-position: 12px -35px;
}