/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-divider, 
.enyo-solid-divider {
	background: url(../images/enyo-label-divider.png) repeat;
	height: 5px;
}

.enyo-divider,
.enyo-divider-right-cap,
.enyo-divider-left-cap {
	margin: 0px;
	height: 25px;
}

.enyo-divider-right-cap,
.enyo-divider-left-cap {
	min-width: 4px;
	border-width: 0px;
	-webkit-border-image: none;
}

.enyo-divider-right-cap {
	border-right-width:0px;
	margin-right: 6px;
}

.enyo-divider-left-cap {
	border-left-width: 0px;
	margin-left: 6px;

	/* Needs to be effectively infinity compared to .enyo-divider-caption's
 	   flex so the left cap will take as much space as possible */
	-webkit-box-flex: 1000;
}

.enyo-divider-icon {
	margin: 0 6px;
}

.enyo-divider-icon-collapse {
	margin: 0 6px 0 0;
}

.enyo-divider-caption {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
	font-size: 12pt;
	padding-top: 2px;
	color: #515151;
	/* Needs to be effectively zero compared to .enyo-divider-left-cap's
	   flex so the caption will flex but take as little space as possible
	   and still truncate properly */
	-webkit-box-flex: .1;
}

.enyo-divider-alpha {
	height: 25px;
	line-height: 23px;
	margin: 7px 0;
}

.enyo-divider-alpha-caption {
	padding: 1px 10px 0 10px;
	font-size: 12pt;
	color: #515151;
}