/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-gemstone.enyo-header {
	-webkit-border-image: none;
	border-style: solid;
	border-color: transparent transparent #7e8081 transparent;
	border-bottom-width: 1px;
	padding-bottom: 12px;
	min-height: 50px;
	background: #b5b8ba url(../images/header.png) left -35px repeat-x;
	color: #000000;
	/* don't think this is supported */
	text-shadow: 1px 1px #ddd;
}

.enyo-gemstone.enyo-header-inner {
	padding: 12px;
}