/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-gemstone.enyo-radiobutton {
	color: #252525;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	margin: 1px 0;
	border-width: 0px 3px;
	-webkit-box-sizing: border-box;
}

.enyo-gemstone.enyo-radiobutton.enyo-middle {
	padding: 0 3px;
	margin-right: -1px;
	-webkit-border-image: url(../images/radiobutton.png) 64 3 160 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-single {
	padding: 0 3px;
	-webkit-border-image: url(../images/radiobutton.png) 192 3 32 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-first {
	padding: 0 3px;
	margin-right: -1px;
	-webkit-border-image: url(../images/radiobutton.png) 0 3 224 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-last {
	padding: 0 3px;
	-webkit-border-image: url(../images/radiobutton.png) 128 3 96 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-button-disabled {
	color: Silver;
}

.enyo-gemstone.enyo-radiobutton.enyo-button-depressed,
.enyo-gemstone.enyo-radiobutton.enyo-button-down {
	color: white;
}

/* down */

.enyo-gemstone.enyo-radiobutton.enyo-middle.enyo-button-depressed,
.enyo-gemstone.enyo-radiobutton.enyo-middle.enyo-button-down {
	-webkit-border-image: url(../images/radiobutton.png) 96 3 128 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-single.enyo-button-depressed,
.enyo-gemstone.enyo-radiobutton.enyo-single.enyo-button-down {
	-webkit-border-image: url(../images/radiobutton.png) 224 3 0 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-first.enyo-button-depressed,
.enyo-gemstone.enyo-radiobutton.enyo-first.enyo-button-down {
	-webkit-border-image: url(../images/radiobutton.png) 32 3 192 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-last.enyo-button-depressed,
.enyo-gemstone.enyo-radiobutton.enyo-last.enyo-button-down {
	-webkit-border-image: url(../images/radiobutton.png) 160 3 64 3;
}

/* disabled */

.enyo-gemstone.enyo-radiobutton.enyo-middle.enyo-button-disabled {
	-webkit-border-image: url(../images/radiobutton.png) 96 3 128 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-single.enyo-button-disabled {
	-webkit-border-image: url(../images/radiobutton.png) 224 3 0 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-first.enyo-button-disabled {
	-webkit-border-image: url(../images/radiobutton.png) 32 3 192 3;
}

.enyo-gemstone.enyo-radiobutton.enyo-last.enyo-button-disabled {
	-webkit-border-image: url(../images/radiobutton.png) 160 3 64 3;
}