/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-gemstone.enyo-item {
	border-top-color: #ededed;
	border-bottom-color: #afafaf;
}

.enyo-gemstone.enyo-item.enyo-held {
	border-top-color: #b0cdeb;
	background: url(../images/item-down.png) repeat-y;
}